$green: #16A085 ;
$yellow: #F1C40F;

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('police/kaushanscript/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('police/kaushanscript/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alluraregular';
    src: url('police/allura/allura-regular-webfont.woff2') format('woff2'),
         url('police/allura/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loraregular';
    src: url('police/lora/lora-regular-webfont.woff2') format('woff2'),
         url('police/lora/lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'boogalooregular';
    src: url('police/boogaloo/boogaloo-regular-webfont.woff2') format('woff2'),
         url('police/boogaloo/boogaloo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {
    margin:0;
    padding:0;
}

header{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: $green;
}
    
h1{
    position: relative;
    left: 40%;
    font-size: 65px;
    color: $yellow;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
 article{
    position: relative;
    width: 320px;
    height: 510px;
    box-shadow: 1px 2px 4px 4px rgba(235, 233, 233, 0.87);
    .titre_menu{
        text-align: center;
        margin-top: 180px;
        padding-top: 180px;
        }
        .menu{
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            top: 30px;
        }
}

 .menu1{
     background: rgba(250, 221, 216, 0.925);
     font-family: 'kaushan_scriptregular';
     color: black;
 }
 .menu2{
     background-color: rgb(254, 247, 255);
     font-family: 'loraregular';
     font-size: 18px;
     background: linear-gradient(to right, red , yellow);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

 .menu3{
     background: rgb(248, 248, 240);
     font-family: 'alluraregular';
     font-size: 18px;
     color: blue;
 }
 .menu4{
     background: rgb(255, 255, 255);
     font-family: 'boogalooregular';
     font-style: italic;
     font-size: 18px;
     color: rgb(17, 202, 17);
 }

.button{
    position: relative;
    width: 370px;
    height: 55px;
    left: 39%;
    top: 160px;
    border-radius: 12px;
    background-color: $green;
}

.text{
    position: relative;
    left: 65px;
    top: 5px;
    font-size: 40px;
    color: $yellow;
}

footer{
    position: relative;
    width: 100%;
    height: 90px;
    background-color: $green;
    top: 280px;
}

.text1{
    position: relative;
    left: 1%;
    top: 30px;
    font-size: 30px;
    color: $yellow;
}

.text2{
    position: relative;
    left: 72%;
    top: 30px;
    font-size: 30px;
    color: $yellow;
}

a{
    text-decoration: none;
    color: $yellow;
}