$pink: rgba(250, 221, 216, 0.925);
$yellow: #F1C40F;
$green: #16A085;
$pink2: rgb(254, 247, 255);
$pink3: rgb(236, 236, 233);
$white: rgb(255, 255, 255);

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../police/kaushanscript/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../police/kaushanscript/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'loraregular';
    src: url('../police/lora/lora-regular-webfont.woff2') format('woff2'),
         url('../police/lora/lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alluraregular';
    src: url('../police/allura/allura-regular-webfont.woff2') format('woff2'),
         url('../police/allura/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'boogalooregular';
    src: url('../police/boogaloo/boogaloo-regular-webfont.woff2') format('woff2'),
         url('../police/boogaloo/boogaloo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: $green;
}

h1 {
  position: relative;
  display: inline;
  left: 40%;
  font-size: 65px;
  color: $yellow;
}

section{
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  h2{
    font-size: 40px;
    font-weight: bolder;
    }
    article{
      width: 820px;
      height: 1330px;
      margin-left: 23%;
      }
}

.pink{
  background-color: $pink;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'kaushan_scriptregular';
  table{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 55px;
    border-spacing: 15px;
    }
    h3, h4, h5{
      position: relative;
      text-align: center;
      top: 70px;
      }
      .note1{
        position: relative;
        top: 100px;
        left: 380px;
        width: 60px;
        height: 60px;
      }
        p{
          margin-left: 118px;
          position: relative;
          top: 60px;
          }
}

.taille{
  font-size: 30px;
}

.taille1{
  font-size: 20px;
}

.taille2{
  font-size: 25px;
  margin-top: 70px;
}

.note2{
  position: relative;
  width: 50px;
  height: 50px;
  top: 10px;
}

.trait{
  position: relative;
  width: 25%;
  top: 120px;
  left: 120px;
}
.trait2{
  position: relative;
  width: 25%;
  top: 26px;
  left: 500px;
}

.chic{
  background-color: $pink2;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'loraregular';
  table{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 95px;
    border-spacing: 20px;
    }
    h3, h4, h5{
      position: relative;
      text-align: center;
      top: 60px;
      }
      p{
          margin-left: 118px;
          position: relative;
          top: 120px;
          }
}

.logo1{
  position: relative;
  width: 25%;
  top: 115px;
  left: 90px;

}

.logo2{
  position: relative;
  width: 25%;
  top: 15px;
  left: 530px;
}

.logo3{
  position: relative;
  width: 25%;
  top: 110px;
  left: 90px;
}

.logo4{
  position: relative;
  width: 25%;
  top: 15px;
  left: 520px;
}

.logo5{
  position: relative;
  width: 25%;
  top: 105px;
  left: 90px;
}

.logo6{
  position: relative;
  width: 25%;
  top: 15px;
  left: 530px;
}

.entrée, .plat, .dessert{
  font-size: 20px;
}

.couleur1, .entrée{
  color: orange;
}

.couleur2, .plat{
  color: purple;
}

.couleur3, .dessert{
  color: rgb(48, 9, 223);
}

.dégradé{
  font-size: 30px;
  background: linear-gradient(to right, orange , rgb(48, 9, 223));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.papilles{
  background-color: $pink3;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'boogalooregular';
  font-style: italic;
  table{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 95px;
    border-spacing: 20px;
    }
    h3, h4, h5{
      position: relative;
      text-align: center;
      top: 60px;
      }
      p{
          margin-left: 118px;
          position: relative;
          top: 120px;
          }
}

.image1menu3{
  position: relative;
  width: 25%;
  top: 105px;
  left: 90px;
}

.image2menu3{
  position: relative;
  width: 25%;
  top: 20px;
  left: 525px;
}

.image3menu3{
  position: relative;
  width: 25%;
  top: 105px;
  left: 90px;
}

.image4menu3{
  position: relative;
  width: 25%;
  top: 20px;
  left: 525px;
}

.image5menu3{
  position: relative;
  width: 25%;
  top: 100px;
  left: 90px;
}

.image6menu3{
  position: relative;
  width: 25%;
  top: 20px;
  left: 525px;
}

.titremenu3{
  font-family: 'alluraregular';
  background: linear-gradient(to right, rgb(41, 20, 226), rgb(123, 125, 230));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
  font-size: 55px;
}

.palette{
  background-color: $white;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'boogalooregular';
  box-shadow: 1px 2px 4px 4px rgba(235, 233, 233, 0.87);

  table{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 95px;
    border-spacing: 20px;
    }
    h3, h4, h5{
      position: relative;
      text-align: center;
      top: 60px;
      }
      p{
          margin-left: 118px;
          position: relative;
          top: 120px;
          }
}

.image1menu4{
  position: relative;
  width: 25%;
  top: 105px;
  left: 90px;
}

.image2menu4{
  position: relative;
  width: 25%;
  top: 25px;
  left: 530px;
}

  .image3menu4{
  position: relative;
  width: 25%;
  top: 105px;
  left: 90px;
}

  .image4menu4{
  position: relative;
  width: 25%;
  top: 25px;
  left: 530px;
}

  .image5menu4{
  position: relative;
  width: 25%;
  top: 105px;
  left: 90px;
}

  .image6menu4{
  position: relative;
  width: 25%;
  top: 25px;
  left: 530px;
}

.titremenu4{
  font-size: 55px;
  background: linear-gradient(to right, rgb(8, 145, 8), rgb(240, 241, 240));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

footer {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: $green;
  top: 160px;
}

.text1 {
  position: relative;
  left: 1%;
  top: 30px;
  font-size: 30px;
  color: $yellow
}

.text2 {
  position: relative;
  left: 72%;
  top: 30px;
  font-size: 30px;
  color: $yellow;
}

a{
    text-decoration: none;
    color: $yellow;
}
/*# sourceMappingURL=style2.css.map */
