@charset "UTF-8";
/*police*/
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("police/kaushanscript/kaushanscript-regular-webfont.woff2") format("woff2"), url("police/kaushanscript/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alluraregular";
  src: url("police/allura/allura-regular-webfont.woff2") format("woff2"), url("police/allura/allura-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "loraregular";
  src: url("police/lora/lora-regular-webfont.woff2") format("woff2"), url("police/lora/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "boogalooregular";
  src: url("police/boogaloo/boogaloo-regular-webfont.woff2") format("woff2"), url("police/boogaloo/boogaloo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #16A085;
}

h1 {
  font-size: 65px;
  color: #F1C40F;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

article {
  position: relative;
  width: 320px;
  height: 510px;
  box-shadow: 1px 2px 4px 4px rgba(235, 233, 233, 0.87);
}
article .titre_menu {
  text-align: center;
  margin-top: 180px;
  padding-top: 180px;
}
article .menu {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: 30px;
}

.menu1 {
  background: rgba(250, 221, 216, 0.925);
  font-family: "kaushan_scriptregular";
  color: black;
}
.menu1:hover {
  transform: scale(1.15);
}

.menu2 {
  background-color: #fef7ff;
  font-family: "loraregular";
  font-size: 18px;
  background: linear-gradient(to right, orange, #3009df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu2:hover {
  transform: scale(1.15);
}

.menu3 {
  background: #f8f8f0;
  font-family: "alluraregular";
  font-size: 18px;
  color: blue;
}
.menu3:hover {
  transform: scale(1.15);
}

.menu4 {
  background: white;
  font-family: "boogalooregular";
  font-style: italic;
  font-size: 18px;
  color: #11ca11;
}
.menu4:hover {
  transform: scale(1.15);
}

.button {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 370px;
  height: 55px;
  left: 39%;
  top: 160px;
  border-radius: 12px;
  background-color: #16A085;
}

.text {
  position: relative;
  font-size: 39px;
  color: #F1C40F;
  left: 50px;
  top: 5px;
}

.text:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1300ms infinite;
  animation: ellipsis steps(4, end) 2000ms infinite;
  content: "…";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #16A085;
  top: 280px;
}

.text1 {
  position: relative;
  display: inline-block;
  top: 30px;
  font-size: 30px;
  color: #F1C40F;
  animation: wiggle 3s infinite;
}

.text2 {
  position: relative;
  display: inline-block;
  top: 30px;
  font-size: 30px;
  color: #F1C40F;
  animation: wiggle 3s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
a {
  text-decoration: none;
  color: #F1C40F;
}

/*# sourceMappingURL=style.css.map */
