@charset "UTF-8";
/* police */
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("../police/kaushanscript/kaushanscript-regular-webfont.woff2") format("woff2"), url("../police/kaushanscript/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "loraregular";
  src: url("../police/lora/lora-regular-webfont.woff2") format("woff2"), url("../police/lora/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alluraregular";
  src: url("../police/allura/allura-regular-webfont.woff2") format("woff2"), url("../police/allura/allura-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "boogalooregular";
  src: url("../police/boogaloo/boogaloo-regular-webfont.woff2") format("woff2"), url("../police/boogaloo/boogaloo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #16A085;
}

h1 {
  display: flex;
  font-size: 65px;
  color: #F1C40F;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section h2 {
  font-size: 40px;
  font-weight: bolder;
}
section article {
  width: 820px;
  height: 1330px;
}

/* menu1 */
.enchanté {
  background-color: rgba(250, 221, 216, 0.925);
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "kaushan_scriptregular";
}
.enchanté table {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 55px;
  border-spacing: 15px;
}
.enchanté h3, .enchanté h4, .enchanté h5 {
  position: relative;
  text-align: center;
  top: 70px;
}
.enchanté .image1menu1 {
  position: relative;
  top: 100px;
  left: 380px;
  width: 60px;
  height: 60px;
}
.enchanté p {
  margin-left: 118px;
  position: relative;
  top: 60px;
}

.taille {
  font-size: 30px;
}

.taille1 {
  font-size: 20px;
}

.taille2 {
  font-size: 25px;
  margin-top: 70px;
}

.image4menu1 {
  position: relative;
  width: 40px;
  height: 40px;
  top: 10px;
}

.image2menu1 {
  position: relative;
  width: 25%;
  top: 120px;
  left: 120px;
}

.image3menu1 {
  position: relative;
  width: 25%;
  top: 26px;
  left: 500px;
}

/* menu2 */
.chic {
  background-color: #fef7ff;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "loraregular";
}
.chic table {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 95px;
  border-spacing: 20px;
}
.chic h3, .chic h4, .chic h5 {
  position: relative;
  text-align: center;
  top: 60px;
}
.chic p {
  margin-left: 118px;
  position: relative;
  top: 120px;
}

.image1menu2 {
  position: relative;
  width: 22%;
  top: 110px;
  left: 110px;
}

.image2menu2 {
  position: relative;
  width: 22%;
  top: 10px;
  left: 530px;
}

.image3menu2 {
  position: relative;
  width: 22%;
  top: 106px;
  left: 110px;
}

.image4menu2 {
  position: relative;
  width: 22%;
  top: 11px;
  left: 520px;
}

.image5menu2 {
  position: relative;
  width: 22%;
  top: 103px;
  left: 110px;
}

.image6menu2 {
  position: relative;
  width: 22%;
  top: 12px;
  left: 530px;
}

.entrée, .plat, .dessert {
  font-size: 20px;
}

.couleur1, .entrée {
  color: orange;
}

.couleur2, .plat {
  color: purple;
}

.couleur3, .dessert {
  color: #3009df;
}

.dégradé {
  font-size: 30px;
  background: linear-gradient(to right, orange, #3009df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* menu3 */
.papilles {
  background-color: #ecece9;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "boogalooregular";
  font-style: italic;
}
.papilles table {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 95px;
  border-spacing: 20px;
}
.papilles h3, .papilles h4, .papilles h5 {
  position: relative;
  text-align: center;
  top: 60px;
}
.papilles p {
  margin-left: 118px;
  position: relative;
  top: 120px;
}

.image1menu3 {
  position: relative;
  width: 24%;
  top: 102px;
  left: 90px;
}

.image2menu3 {
  position: relative;
  width: 24%;
  top: 14px;
  left: 525px;
}

.image3menu3 {
  position: relative;
  width: 24%;
  top: 102px;
  left: 90px;
}

.image4menu3 {
  position: relative;
  width: 24%;
  top: 18px;
  left: 525px;
}

.image5menu3 {
  position: relative;
  width: 24%;
  top: 100px;
  left: 90px;
}

.image6menu3 {
  position: relative;
  width: 24%;
  top: 20px;
  left: 525px;
}

.titremenu3 {
  font-family: "alluraregular";
  background: linear-gradient(to right, #2914e2, #7b7de6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 55px;
}

/* menu4 */
.palette {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "boogalooregular";
  box-shadow: 1px 2px 4px 4px rgba(235, 233, 233, 0.87);
}
.palette table {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 95px;
  border-spacing: 20px;
}
.palette h3, .palette h4, .palette h5 {
  position: relative;
  text-align: center;
  top: 60px;
}
.palette p {
  margin-left: 118px;
  position: relative;
  top: 120px;
}

.image1menu4 {
  position: relative;
  width: 24%;
  top: 100px;
  left: 90px;
}

.image2menu4 {
  position: relative;
  width: 24%;
  top: 18px;
  left: 530px;
}

.image3menu4 {
  position: relative;
  width: 24%;
  top: 100px;
  left: 90px;
}

.image4menu4 {
  position: relative;
  width: 24%;
  top: 18px;
  left: 530px;
}

.image5menu4 {
  position: relative;
  width: 24%;
  top: 100px;
  left: 90px;
}

.image6menu4 {
  position: relative;
  width: 24%;
  top: 18px;
  left: 530px;
}

.titremenu4 {
  font-size: 55px;
  background: linear-gradient(to right, #089108, #f0f1f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4:after {
  content: "";
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 30%;
  right: 30%;
  height: 0.1em;
  background: black;
  transition: transform 0.5s;
}

h4:hover::after {
  transform: scaleX(1);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #16A085;
  top: 160px;
}

.text1 {
  position: relative;
  top: 30px;
  font-size: 30px;
  color: #F1C40F;
}

.text2 {
  position: relative;
  top: 30px;
  font-size: 30px;
  color: #F1C40F;
}

a {
  text-decoration: none;
  color: #F1C40F;
}

/*# sourceMappingURL=style2.css.map */

/*# sourceMappingURL=style2.css.map */
