@charset "UTF-8";
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("../police/kaushanscript/kaushanscript-regular-webfont.woff2") format("woff2"), url("../police/kaushanscript/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "loraregular";
  src: url("police/lora/lora-regular-webfont.woff2") format("woff2"), url("police/lora/lora-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #16A085;
}

h1 {
  position: relative;
  display: inline;
  left: 40%;
  top: 30px;
  font-size: 65px;
  color: #F1C40F;
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}
section h2 {
  font-size: 40px;
  font-weight: bolder;
}
section article {
  width: 820px;
  height: 1330px;
  margin-left: 23%;
}

.pink {
  background-color: rgba(250, 221, 216, 0.925);
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "kaushan_scriptregular";
}
.pink table {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 55px;
  border-spacing: 15px;
}
.pink h3, .pink h4, .pink h5 {
  position: relative;
  text-align: center;
  top: 70px;
}
.pink .note1 {
  position: relative;
  top: 100px;
  left: 380px;
  width: 60px;
  height: 60px;
}
.pink p {
  margin-left: 118px;
  position: relative;
  top: 60px;
}

.taille {
  font-size: 30px;
}

.taille1 {
  font-size: 20px;
}

.taille2 {
  font-size: 25px;
  margin-top: 70px;
}

.note2 {
  position: relative;
  width: 50px;
  height: 50px;
  top: 10px;
}

.trait {
  position: relative;
  width: 25%;
  top: 120px;
  left: 120px;
}

.trait2 {
  position: relative;
  width: 25%;
  top: 26px;
  left: 500px;
}

.chic {
  background-color: #fef7ff;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "loraregular";
}
.chic table {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 95px;
  border-spacing: 20px;
}
.chic h3, .chic h4, .chic h5 {
  position: relative;
  text-align: center;
  top: 60px;
}
.chic p {
  margin-left: 118px;
  position: relative;
  top: 120px;
}

.logo1 {
  position: relative;
  width: 25%;
  top: 115px;
  left: 90px;
}

.logo2 {
  position: relative;
  width: 25%;
  top: 15px;
  left: 530px;
}

.logo3 {
  position: relative;
  width: 25%;
  top: 110px;
  left: 90px;
}

.logo4 {
  position: relative;
  width: 25%;
  top: 15px;
  left: 520px;
}

.logo5 {
  position: relative;
  width: 25%;
  top: 105px;
  left: 90px;
}

.logo6 {
  position: relative;
  width: 25%;
  top: 15px;
  left: 530px;
}

.entrée, .plat, .dessert {
  font-size: 20px;
}

.couleur1, .entrée {
  color: orange;
}

.couleur2, .plat {
  color: purple;
}

.couleur3, .dessert {
  color: #3009df;
}

.dégradé {
  font-size: 30px;
  background: linear-gradient(to right, orange, #3009df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #16A085;
  top: 160px;
}

.text1 {
  position: relative;
  left: 1%;
  top: 30px;
  font-size: 30px;
  color: #F1C40F;
}

.text2 {
  position: relative;
  left: 72%;
  top: 30px;
  font-size: 30px;
  color: #F1C40F;
}

a {
  text-decoration: none;
  color: #F1C40F;
}

/*# sourceMappingURL=style2.css.map */

/*# sourceMappingURL=style2.css.map */
